{{define "index"}}
<h1>Budget</h1>
{{ if .LoggedIn }}
{{ with .Budget }}
<div class="row">
  <div class="col-md-6">
    {{ template "expenses" . }}
  </div>
  <div class="col-md-6">
    {{ template "earnings" . }}
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <hr/>
    <strong>Summe: {{.Ausgaben.Sum }}</strong>
  </div>
  <div class="col-md-6">
    <hr/>
    <strong>Summe: {{.Einnahmen.Sum }}</strong>
  </div>
</div>
<hr/>
<hr/>
<div class="row">
  <div class="col-md-12">
    <h2>Saldo: {{ .Balance }}</h2>
  </div>
</div>
{{end}}
{{else}}
<p>Verwalte dein Budget</p>
{{ template "login" }}
{{end}}
{{end}}
