<html>
  <head>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
  </head>
  <body>
    <h1>Budget</h1>
    <div class="col-md-6">
      <h2>Ausgaben</h2>
      <dl>
        {{ range $key, $value := .Ausgaben }}
        <dt>{{ $key }}</dt>
        <dd>{{ $value }} €</dd>
        {{ end }}
      </dl>
    </div>
    <div class="col-md-6">
      <h2>Einnahmen</h2>
      <dl>
        {{ range $key, $value := .Einnahmen }}
        <dt>{{ $key }}</dt>
        <dd>{{ $value }} €</dd>
        {{ end }}
      </dl>
    </div>
  </body>
</html>
